@use 'variables' as v;

.button{
    background-color: v.$color1;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    color: white;
    font-size: 32px;
    box-shadow: 10px 5px 5px v.$color2;

    
&__box{
    
    position: relative;
}
&:active{
    transform: translate(4px);

}
}